<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarm_main">


    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:icon="@mipmap/alarm_img"
        android:label="alarm_main">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.example.alarm_main.AlarmPage"
            android:excludeFromRecents="true"
            android:turnScreenOn="true"
            android:showWhenLocked="true"
            android:resumeWhilePausing="true"
            android:immersive="true"
            android:showOnLockScreen="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".MathsInterface"
            android:immersive="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:showWhenLocked="true"
            android:resumeWhilePausing="true"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <service
            android:name=".NotificationService"
            android:logo="@mipmap/alarm_img"
            android:roundIcon="@mipmap/alarm_img"
            android:stopWithTask="false" />

        <service
            android:name=".MusicService"
            android:roundIcon="@mipmap/alarm_img"
            android:stopWithTask="false" />

        <receiver android:name=".wakeFulReceiver" />

        <receiver
            android:name="com.example.alarm_main.RestartReceiver"
            android:directBootAware="true"
            android:enabled="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="999">
                <category android:name="com.example.autostart.CATEGORY_AUTOSTART" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
